# Configurações do Nodemailer (Envio de e-mails de contato do site)
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app

# Token para acesso as rotas de administrador
ADMIN_TOKEN=sua_senha_secreta

# Se o Firebase Administration necessitar de credenciais (opcional caso não configurou via Node/JSON)
# GOOGLE_APPLICATION_CREDENTIALS=/app/serviceAccountKey.json
